.container {
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;;
    margin: 20px auto;
    padding: 30px 30px 30px;
}

.header {
    padding-bottom: 10px;
}

.search-button {
    border: 0px solid white;
    background-color: buttonface;
    padding: 5px 8px;
}

input {
    border: 1.5px solid #efefef;
    border-radius: 5px;
    display: inline;
    padding: 5px;
}

.city-input {
    max-width: 200px;
    padding: 3.5px 5px;
}

button {
    border: 1.5px solid #efefef;
    border-radius: 5px;
    display: inline;
    padding: 5px 8px;
}

.current-location-button {
    border: none;
}

.current-location-pin {
    color: #616873;
}

h1 {
    margin: 10px 0 0;
    padding: 10px 0;
}

p {
    margin-bottom: none;
}

img {
    height: auto;
    width:150px;
}

.current-emoji-img-element {
    margin-top: 30px;
}

.current-weather-description {
    font-size: 40px;
    margin: 50px 0 10px;
}

.current-weather-description::first-letter {
    text-transform: capitalize;
}

.current-temp {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 10px;
}
.current-temp-number{
    font-weight: 900;
}

.current-weather-details {
    font-size: 15px;
}

.forecast-weekday {
    font-size: 1.2rem;
}

.forecast-emoji-img-element {
    height: auto;
    width: 70px;
}

.forecast-min-temp {
    opacity: 0.5;
}

.forecast-weather-description{
    font-size: smaller;
}

small {
    font-size: 10px;
    margin-top: 5px;
}